.walletPage {
    width: 1919px;
    height: 975px;
    margin-top: -21px;

    background-image: url('/home/matheuskrc/TRYBE/Projetos-FrontEnd/sd-021-a-project-trybewallet/src/Images/background.jpeg');
}