.walletPage {
    width: 1919px;
    height: 975px;
    margin-top: 0px;

    flex-direction: column;

    background: url(/home/matheuskrc/TRYBE/Projetos-FrontEnd/sd-021-a-project-trybewallet/src/Images/backgroundOp.png);
}

main {
    background: linear-gradient(180deg, #0079EF 0%, #67bff58a 80%);
}



